<!-- Class Binding -->
<h1 [class.text-red] = "bool">Angular App</h1>

<!-- Style Binding -->
<h1 [style.color]= "bool ? 'red' : 'blue'"> Style Binding </h1>

<!-- String Interpolation -->
<p>{{ message }}</p>


<!-- Property Binding -->
<img [src]=" imgUrl " alt="">

<!-- Event Binding -->

<button (click)="buttonClicked()"> Click Me </button>

<!-- event filtering -->

<input type="text" (keyup.enter)="onKeyUp($event)">

<!-- template variable -->

<input type="text" (keyup.enter)="getValue(username.value)" #username>

<!-- Two Way Data Binding -->

<input type="text" [(ngModel)] = "userName" (keyup.enter)="getValueTwoWay()">